<%= form_with model: note, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    <div class="form-group mt-3 mb-3 font-sarif-iro">
      <%= f.label '↓音声を登録できます' %><br>
      <%= f.file_field :audio, :size => 140 %>
    </div>
    <div class="form-group mt-3 font-sarif-iro">
      <%= f.label '曲名(50文字以内)' %><br>
    </div>
    <div class="form-group">
      <%= f.text_field :song_title %>
    </div>
    <div class="form-group mt-3 font-sarif-iro">
      <%= f.label '歌手名(50文字以内)' %><br>
    </div>
    <div class="form-group">
      <%= f.text_field :singer_name %>
    </div>
    <div class="form-group mt-3 font-sarif-iro">
      <%= f.label '#ハッシュタグ(50文字以内)' %><br>
    </div>
    <div class="form-group">
      <%= f.text_field :hashbody, placeholder: "＃50文字以内の ＃ハッシュタグ" %>
    </div>
    <div class="form-group m-sm-3 font-sarif-iro">
      <%= f.label '振り譜' %><br>
    </div>
    <div class="form-group">
      <%= f.rich_text_area :content %>
    </div>
    <div class="form-group mt-3 mb-3">
      <%= f.submit class: 'btn btn-outline-primary', data: { disable_with: "ただいま登録中..." } %>
    </div>
<% end %>
