<div class="container text-center">
  <h1 class="myFont m-sm-3">
      <p>ハッシュ<br class="sma">タグ一覧</p>
  </h1>
    <td><%= link_to '振り譜一覧に戻る', notes_path, class: 'syousai' %></td>

  <div class="mt-sm-5">
    <% if params[:name] == nil %>
    <% else %>

      <h2><%= @hashtag.hashname %></h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <tbody>
          <% @notes.each do |note| %>
            <div class="card-group">
              <div class="card card-body ">
                <a href="/notes/<%= note.id %>" data-method="delete" data-confirm='削除しますか?'>
                  <i class="fa-solid fa-trash fa-pull-right pink_decoration"></i>
                </a>
                <h2 class="card-title"><%= note.song_title %></h2>
                <p class="card-text"><%= note.singer_name %></p>
                <a href="/note/hashtag/<%=note.hashbody %>"><%= note.hashbody %></a>
                <a href="/notes/<%= note.id %>" class="btn btn-success">詳細を見る</a>
              </div>
            </div>
          <% end %>
        </tbody>
      </div>
    <% end %>
  </div>
</div>
