<div class="container text-center">
  <h1 class="myFont m-ms-3">
      <p>ハッシュ<br class="sma">タグ一覧</p>
  </h1>
    <td><%= link_to '振り譜一覧に戻る', notes_path, class: 'syousai' %></td>

  <div class="mt-sm-5">
    <% if params[:name] == nil %>
    <% else %>

      <h2><%= @hashtag.hashname %></h2>
      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <th>
              <div class="border border-5 border-index">
                <div class="my-sm-2">
                  <td><%= note.song_title %></td>
                  <td><%= "/" %></td>
                  <td><%= note.singer_name %></td><br>
                </div>
                  <td><%= link_to '詳細を見る', note %></td>
                  <td><%= link_to '編集する', edit_note_path(note) %></td>
                  <td><%= link_to '削除する', note, method: :delete, data: { confirm: '削除しますか?' } %></td>
              </div>
            </th>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </div>
</div>
