<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>お稽古一覧</title>
  </head>
  <body>
    <h1>お稽古一覧</h1>
    <%= render 'search_form' %>
    <%= render 'shared/flash' %>
    <table>
      <thead>
        <tr>
          <th><%= sort_link(@q, :song_title, "song_title", hide_indicator: true) %></th>
          <th><%= sort_link(@q, :singer_name, "singer_name", hide_indicator: true) %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= note.song_title %></td>
            <td><%= note.singer_name %></td>
            <td><%= link_to 'Show', note %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
      <%= button_to t('.logout'), logout_path, method: :delete %>
      <%= button_to t('.note'), new_note_path, method: :get %>
      <%= button_to t('.brief_note'), brief_notes_path, method: :get %>
    </table>
    <%= paginate @notes, theme: 'bootstrap-5' %>
  </body>
</html> 