<div class="container text-center m-ms-3 col-xm-12">
  <div class="row">

    <h1 class="myFont m-sm-3">
      <p>振り譜<br class="sma">詳細画面</p>
    </h1>

    <div class="contener edit-position-button">
      <div class="row">
        <div class="py-3">
          <th>
            <td><%= link_to '編集する', edit_note_path(@note), class: 'syousai' %></td><br class="sma"></td>
            <td><%= link_to '振り譜一覧に戻る', notes_path, class: 'syousai' %></td><br class="sma"></td>
            <td><%= link_to '削除する', @note, method: :delete, data: { confirm: '削除しますか?' }, class: 'syousai' %></td><br class="sma"></td>
          </th>
        </div>
      </div>
    </div>

    <div class="mt-sm-3">
      <audio src= "<%= "#{@note.audio}" %>" controls="">
        <a src="<%= "#{@note.audio}" %>">ダウンロード</a>
      </audio>
    </div>

  </div>
</div>

<div class="container col-xm-11 border-aoiro-edit">
  <div class="row">
    <%= render_with_hashtags(@note.hashbody) %>

    <div class="form-group m-sm-3">
      <div style="color: #00A2A4;">
        <%="曲名:"%>
      </div>
      <div><%= @note.song_title %></div>
    </div>

    <div class="form-group m-sm-3">
      <div style="color: #00A2A4;">
        <%="歌手名:"%>
      </div>
      <div><%= @note.singer_name %></div>
    </div>

    <div class="form-group m-sm-3">
      <div style="color: #00A2A4;">
        <%="振り譜:"%>
      </div>
      <div><%= @note.content %></div>
    </div>
  </div>
</div>

