<div>タイトル: <%= @note.song_title %></div>
<div>歌手名: <%= @note.singer_name %></div>
<div>メモ: <%= @note.content %></div>
<td><%= link_to 'Edit', edit_note_path(@note) %></td>
<td><%= link_to 'Index', notes_path %></td>