<div class="text-center">
  <h1 class="myFont m-sm-3">
    <p>パスワード<br class="sma">変更画面</p>
  </h1>

  <div class="container border-ao-min">
    <div class="row">
      <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
        <div class="form-group mt-3 mb-3">
          <%= f.label :email, t('.email') %>
          <%= @user.email %>
        </div>
        <div class="form-group mt-3 mb-3">
          <%= f.label :password, t('.password') %><br>
          <%= f.password_field :password %>
        </div>
        <div class="form-group mt-3 mb-3">
          <%= f.label :password_confirmation, t('.password_confirmation') %><br>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="form-group mt-3 mb-3">
          <%= f.submit class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>