<div class="text-center">
  <h1 class="myFont mt-sm-2">パスワード変更画面</h1>

  <div class="container col-8">
    <div style="background-color:#EDF7FF;">
      <div class="row">
        <div class="col-md">
          <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
            <div class="form-group mt-3 mb-3">
              <%= f.label :email, t('.email') %>
              <%= @user.email %>
            </div>
            <div class="form-group mt-3 mb-3">
              <%= f.label :password, t('.password') %><br>
              <%= f.password_field :password %>
            </div>
            <div class="form-group mt-3 mb-3">
              <%= f.label :password_confirmation, t('.password_confirmation') %><br>
              <%= f.password_field :password_confirmation %>
            </div>
            <div class="form-group mt-3 mb-3">
              <%= f.submit class: 'btn btn-outline-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>