index
<%= button_to t('.brief_note'), new_brief_note_path, method: :get %>
<%= button_to t('.note_index'), notes_path, method: :get %>
<%= render 'shared/flash' %>
<% @brief_notes.each do |brief_note| %>
  <tr>
    <td><%= brief_note.title %></td>
    <td><%= link_to 'Show', brief_note_path(brief_note), method: :get %></td>
    <td><%= link_to 'Edit', edit_brief_note_path(brief_note) %></td>
    <td><%= link_to 'Destroy', brief_note_path(brief_note.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>