<div class="text-center">
  <div class="row">
    <h1 class="myFont m-ms-3">
      <p>簡易メモ<br class="sma">詳細画面</p>
    </h1>
    <div class="contener edit-position-button">
      <div class="row">
        <div class="py-3">
          <td><%= link_to '編集する', edit_brief_note_path(@brief_note), class: 'syousai' %><br class="sma"></td>
          <td><%= link_to '振り譜一覧に戻る', brief_notes_path, class: 'syousai' %><br class="sma"></td>
          <td><%= link_to '削除する', @brief_note, method: :delete, data: { confirm: '削除しますか?' }, class: 'syousai' %><br class="sma"></td>
        </div>
      </div>
    </div>

      <div class="container border-ao-min">
        <div class="row">
          <div class="col-md">
            <div class="form-group m-sm-3">
              <div style="color: #00A2A4;">
                <%="タイトル:"%>
              </div>
              <div><%= @brief_note.title %></div>
            </div>

            <div class="form-group m-sm-3">
              <div style="color: #00A2A4;">
                <%="メモ:"%>
              </div>
              <div><%= @brief_note.body %></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>