<!DOCTYPE html>
<html>
  <head>
    <title>日本舞踊のお稽古アプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@n3Dlfljrvair9AK"/>
    <meta name="twitter:title" content="振り譜のように使える日本舞踊のお稽古アプリ"/>
    <meta name="twitter:description" content="日本舞踊のお稽古の際に役立てていただける、振り書きやメモ、写真や音声を記録出来るアプリです。"/>
    <meta name="twitter:image" content="image_url('icon.png')"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
